.jumbotron {
    background-image: url('./components/images/lightrain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav button {
    background-color: rgb(5, 224, 224);
    color: white; 
    /* margin: 1rem; */
    width: 10rem;
}

.cards {
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}