.jumbotron {
    background-image: url('./components/images/lightrain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav button {
    background-color: rgb(19, 191, 221);
    color: white; 
    width: 10rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    max-width: 15%;
}

.bloglink {
    text-decoration: none;
    color: rgb(19, 191, 221);
}

#root {
    background-color: rgb(207, 231, 238);
}