.jumbotron {
    background-image: url('./components/images/lightrain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.baseline {
    align-items: baseline;
}

.flexend {
    align-items: flex-end;
}

.cards {
    justify-content: center;
}

.card {
    max-width: 15%;
}

.link:hover {
    text-decoration: none;
    color: white;
}

.link {
    text-decoration: none;
}

.aqua {
    color: rgb(19, 191, 221);
}

body {
    background-color: rgb(207, 231, 238);
}

.marginleft10, form {
    margin: 0 10rem;
}

.card img {
    border-radius: 1%;
    box-shadow: 10px 10px 5px 0px rgba(204,202,204,1)
}


/*  */
.edit {
    font-size: 10px;
    font-weight: bold;
    margin-left: 1rem;
    padding: 1px;
}

.delete {
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    padding: 1px;
}

.heading {
    color: #868e96;
    margin-top: 5rem;
}

.white {
    color: white;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}